<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-image: url('https://cdn.pixabay.com/photo/2022/09/21/17/02/blue-background-7470781_960_720.jpg'); 
      background-size: cover;
      background-color: #141414; 
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    h1 {
      text-align: center;
      color: #fff; 
      margin-bottom: 20px;
      font-size: 36px;
      font-weight: bold;
    }

    form {
      max-width: 400px;
      padding: 20px;
      background-color: #333; 
      border: 1px solid #444; 
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
    }

    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
      color: #fff; 
    }

    input[type="email"],
    input[type="password"] {
      width: 100%;
      height: 40px;
      margin-bottom: 20px;
      padding: 10px;
      border: 1px solid #555; 
      border-radius: 5px;
      background-color: #333; 
      color: #fff; 
    }

    input[type="email"]:focus,
    input[type="password"]:focus {
      border-color: #666; 
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    button[type="submit"] {
      width: 100%;
      height: 40px;
      background-color: #e50914; 
      color: #fff; 
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button[type="submit"]:hover {
      background-color: #c40303; 
    }
  </style>
</head>
<body>
  <h1>Login</h1>
  <form action="/login" method="post">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <br>
    <button type="submit">Login</button>
  </form>
  <div class="background-image">
    <img src="https://picsum.photos/200/300" alt="Background Image">
  </div>
</body>
</html>